<section class="h-full w-full bg-black relative">
    <img src="../../assets/Images/landing/hero-bg.svg" class="absolute top-0 right-0 h-full" alt="hero background">
    <header class="px-40 py-4 flex justify-between z-1 relative items-center">
        <h2 class="text-secondary font-extrabold mb-0">LINES</h2>
        <div class="flex items-center">
            <a class="text-secondary mr-10 cursor-pointer">Login</a>
            <a class="text-secondary px-5 py-2 border-2 border-solid border-secondary rounded-md cursor-pointer">Register</a>
        </div>
    </header>
</section>